<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member</title>
</head>
<body>
    <form action="/deposit" method="POST">
        <div>
            Deposit<input type="text" name="deposit"/>
        </div>
        <button>Submit</button>
    </form>
    <form action="/withdraw" method="POST">
        <div>
            Withdraw<input type="text" name="withdraw"/>
        </div>
        <button>Submit</button>
    </form>
    <form action="/check" method="POST">
        <div>
            Check Balance
        </div>
        <button>Check</button>
    </form>
    <a href="/logout">Log Out</a>
</body>
</html>