<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form action="/signup" method="POST">
        <div>
            Nickname <input type="text" name="nickname"/>
            Account <input type="text" name="account" />
            Password <input type="password" name="password"/>
        </div>
        <button>Submit</button>
    </form>
    <a href="/">Back to the Front Page</a>
</body>
</html>